.color
{
    background-color: blue;
    color: white;
    font-weight: 550;
}
.headc
{
    background-color: grey;
    font-size: 24px;

}

table,div
{
    width: 500px;
    height: 40vh;
    text-align: center;
}

th,td{
    border: 1px solid black;

}